html
  head
    title My Site - #{title}
    style
      include style.css
  body
    block content
            h1 
              .heading  VCS - Vista Christian School
            h3 #{FDATE}
            br
            h2 Complete your daily screening questions using the following link for #{FAMILYMEMBER ? FAMILYMEMBER : USERNAME}: 
                a(href=`https://school-wellness-app.web.app/answer/add/${ID}/${FAMILYMEMBER ? FAMILYMEMBER : USERNAME}`)  VCS Screening Portal  
            br
            h2 The health and well-being of our student, staff and visitors, is of the utmost importance. Thank you in advance for helping maintain our Covid-19 protocol and our safety program.
            br
            h4 Please review your data/wireless plan for any applicable charges and your rights under
                a(href="https://safebusinesssolutions.com/privacy-policy")  Privacy Policy | Safe Business Solutions Thru Customer Service 
            h4 To opt out of our automated system for wellness sceening please  
              a(href=`https://school-wellness-app-be.herokuapp.com/user/${ID}`) click here 
            
            
 
   
